name: Sync Leetcode

on:
  workflow_dispatch:        # allows manual run
  schedule:
    - cron: "0 8 * * 6"     # auto run every Saturday at 8AM UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Sync LeetCode solutions
        uses: joshcai/leetcode-sync@v1.5
        with:
          github-token: ${{ github.token }}
          leetcode-csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
          leetcode-session: ${{ secrets.LEETCODE_SESSION }}
          destination-folder: leetcode-solutions
          verbose: true
          commit-header: '[LeetCode Sync]'
